<table class="tabela-modern tabela-principal">
    <thead>
        <tr>
            <th></th>
            <ng-container *ngFor="let coluna of columns">
                <th>{{ coluna.label }}</th>
            </ng-container>
            <th>Menu</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let row of data let i = index">
            <!-- Linha principal -->
            <tr class="linha-principal" [ngClass]="{
                        'zebra-claro': i % 2 === 0,
                        'zebra-escuro': i % 2 === 1}" (click)="onAbreFecha($event, row.id)">
                <td>
                    <mat-icon [ngClass]="{'icon-rot': true, 'expandido': expandidos.includes(row.id)}">
                        {{ expandidos.includes(row.id) ? 'expand_less' : 'expand_more' }}
                    </mat-icon>
                </td>

                <ng-container *ngFor="let coluna of columns">
                    <ng-container *ngIf="coluna.key === 'status'">
                        <td class="status-cell">
                            <span class="status-dot" [ngClass]="row.status"></span>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="coluna.key !== 'status'">
                        <td>{{ row[coluna.key] }}</td>
                    </ng-container>

                </ng-container>

                <ng-container *ngIf="row.options">
                    <td>
                        <mat-menu #actionsMenuRef="matMenu">
                            <button mat-menu-item *ngFor="let action of row.options"
                                    (click)="onActionClick(action.label, selectedRowForMenu)">
                                <mat-icon>{{ action.icon }}</mat-icon>
                                <span>{{ action.label }}</span>
                            </button>
                        </mat-menu>

                        <button matIconButton [matMenuTriggerFor]="actionsMenuRef"
                                (click)="openMenuForRow(row); $event.stopPropagation()">
                            <mat-icon>{{ actionsButton.icon }}</mat-icon>
                        </button>
                    </td>
                </ng-container>
            </tr>

            <!-- Linha de detalhes -->
            <tr *ngIf="expandidos.includes(row.id)" [@expandCollapse] class="linha-expandida">
                <td [attr.colspan]="columns.length + 2" [ngClass]="{
                        'zebra-claro': i % 2 === 0,
                        'zebra-escuro': i % 2 === 1}">
                    <table class="tabela-modern sub-tabela">
                        <thead>
                            <tr>
                                <ng-container *ngFor="let coluna of expandedColumns">
                                    <th>{{ coluna.label }}</th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let row2 of row[expandedDataKey]">
                                <tr>
                                    <ng-container *ngFor="let coluna of expandedColumns">
                                        <td>{{ row2[coluna.key] }}</td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
