mat-toolbar {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: white;
    z-index: 9999 !important;
}

header {
    position: fixed;
    top: 3.5rem;
    width: 100%;
    z-index: 1;
}

.active {
    color: #7B9393;
}

.no-active {
    color: black;
}