.custom-table {
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr;
    width: 100%;
    border-collapse: collapse;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Cabeçalho */
.header-row {
    display: contents;
}

.header-cell {
    padding: 16px 12px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* Linhas principais */
.data-row {
    display: contents;
}

.cell {
    padding: 16px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
}

/* Zebra */
.zebra-a>.cell {
    background-color: #fafafc;
}

.zebra-b>.cell {
    background-color: #ffffff;
}

/* Linha expandida ocupa todas as colunas */
.expanded-row {
    grid-column: 1 / -1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* Hover */
.cell:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}



.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.expanded-row {
    background-color: #f9f9f9;
    font-style: italic;
}


.date-select-box {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 40%;
}

.month-display {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #4a4a4a;
    text-transform: capitalize;
}

.hidden-month-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.box-menu {
    display: flex;
    justify-content: center;
}