<app-action [title]="'Upload'" [labels]="" (onClose)="onClose()"></app-action>

<br><br><br><br>

<mat-card class="app-content" style="margin: auto; max-width: 1000px;">
    <div class="dropzone" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
        [class.hovering]="isHovering">
        <input type="file" id="inputFile" (change)="onFileSelect($event)" hidden #fileInput>

        <div style="display: flex; justify-content: space-between;">
            <button mat-raised-button [ngStyle]="{ 'background-color': isJson ? '#FFA500' : '#4CAF50', color: 'white' }"
                (click)="toggleUploadType()">
                <mat-icon>
                    {{ isJson ? 'data_object' : 'table_view' }}
                </mat-icon>
                {{ isJson ? 'Upload JSON' : 'Upload Excel' }}
            </button>
            <div style="display: flex; align-items: center; gap: 16px;">
                <mat-list-item *ngIf="selectedFiles">
                    <span matLine>{{ selectedFiles.name }}</span>
                    <span matLine class="secondary">{{ selectedFiles.size / 1024 | number:'1.0-1' }} KB</span>
                </mat-list-item>
                <ng-container *ngIf="!fileSelectado">
                    <button mat-raised-button color="primary" (click)="fileInput.click()">
                        <mat-icon>cloud_upload</mat-icon>
                        Enviar Arquivo
                    </button>
                </ng-container>

                <ng-container *ngIf="fileSelectado">
                    <button mat-raised-button style="background-color: var(--color-enfase); color: white;" (click)="deleteFile()">
                        <mat-icon>delete</mat-icon>
                        Deletar Arquivo
                    </button>
                </ng-container>
            </div>
        </div>

        <br><br>

        <div *ngIf="!isJson">
            <div style="display: flex; gap: 16px;">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Linha Inicio</mat-label>
                    <input [(ngModel)]="linhasInicio" matInput type="number" name="linhaInicio" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Linha Fim</mat-label>
                    <input [(ngModel)]="linhasFim" matInput type="number" name="linhaFim" />
                </mat-form-field>
            </div>

            <div class="form-grid">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Colaborador</mat-label>
                    <mat-select name="colaborador" [(ngModel)]="fields[0].column">
                        <mat-option *ngFor="let letter of cols let i = index" [value]="i">{{ letter }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data</mat-label>
                    <mat-select name="data" [(ngModel)]="fields[1].column">
                        <mat-option *ngFor="let letter of cols let i = index" [value]="i">{{ letter }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Horário - Início</mat-label>
                    <mat-select name="horarioInicio" [(ngModel)]="fields[2].column">
                        <mat-option *ngFor="let letter of cols let i = index" [value]="i">{{ letter }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Horário - Término</mat-label>
                    <mat-select name="horarioTermino" [(ngModel)]="fields[3].column">
                        <mat-option *ngFor="let letter of cols let i = index" [value]="i">{{ letter }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tipo Atividade</mat-label>
                    <mat-select name="tipoAtividade" [(ngModel)]="fields[4].column">
                        <mat-option *ngFor="let letter of cols let i = index" [value]="i">{{ letter }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Solicitante</mat-label>
                    <mat-select name="solicitante" [(ngModel)]="fields[5].column">
                        <mat-option *ngFor="let letter of cols let i = index" [value]="i">{{ letter }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>OS</mat-label>
                    <mat-select name="os" [(ngModel)]="fields[6].column">
                        <mat-option *ngFor="let letter of cols let i = index" [value]="i">{{ letter }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Observações</mat-label>
                    <mat-select name="observacoes" [(ngModel)]="fields[7].column">
                        <mat-option *ngFor="let letter of cols let i = index" [value]="i">{{ letter }}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>

        <br>

        <button mat-raised-button color="primary" (click)="onVerifyFile()">
            Verificar
        </button>
    </div>
</mat-card>

<br>

<mat-card class="app-content" style="margin: auto; max-width: 1000px;">
    <app-table-expand
        [columns]="columns"
        [data]="dataSource"
        [expandedColumns]="expandedColumns"
        (actionClicked)="handleTableAction($event)"
        >
    </app-table-expand>
</mat-card>

<div>
    <br>
    <br>
</div>
